body{
    background: url(../images/slider4.jpg) no-repeat center fixed;
    background-size: cover;
}
.modal-content{
    background-color: #3b4652;
    opacity: .95;   
    box-shadow: 0px 0px 3px #848484;
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    padding: 20px
}
.item{
    margin: 20px;
    margin-left: 50px;
}
.item2{
    margin: 20px;
    margin-left: 50px;
}
.item3{
    margin: 20px;
}
.item3 img{
    border-radius: 50%
}
.item4{
    margin: 20px;      
    margin-left: 230px;
}
.item5{
    margin: 20px;
    margin-left: 50px;
}

button{
    margin-top:50px;
    width: 100%;
    margin-top: 10px;
}
#atras{
    margin-left: 350px;
}
.user-img img{
    width: 300px;
    height: 300px;
}
h1{
    
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 60px;
    color: white;   
    margin-top: 20px;
}
h3{
    font-family: Bradley Hand ITC;
    font-size: 30px;
    color: white;
    margin: 10px;
    font-weight: bold;
    margin-left: 200px;
}


